In [1]:
import numpy as np
import pandas as pd

In [2]:
golesAndAssists = pd.read_csv('GoalsandAssists.csv', sep=',')

In [3]:
print(golesAndAssists)

      Year                    Name            Position  Age        Club Name  \
0     1974             Gerd Müller      Centre-Forward   28    Bayern Munich
1     1974           Jupp Heynckes      Centre-Forward   29  Bor. M'gladbach
2     1974             Delio Onnis      Centre-Forward   26           Monaco
3     1974           Dieter Müller      Centre-Forward   20        1.FC Köln
4     1974           Willi Lippens         Left Winger   28         RW Essen
...    ...                     ...                 ...  ...              ...
2367  2023          James Maddison  Attacking Midfield   26        Tottenham
2368  2023            Moussa Diaby        Right Winger   24      Aston Villa
2369  2023  Jean-Ricner Bellegarde    Central Midfield   25           Wolves
2370  2023          Andrea Belotti      Centre-Forward   29          AS Roma
2371  2023         Tim Kleindienst      Centre-Forward   28       Heidenheim

         League Name  Matches Played  Goals  Assists  Points
0         Bundesliga              33     23       13      36
1         Bundesliga              31     27        4      31
2            Ligue 1              37     30        0      30
3         Bundesliga              34     24        4      28
4            3. Liga              34     15       11      26
...              ...             ...    ...      ...     ...
2367  Premier League               5      2        2       4
2368  Premier League               5      2        2       4
2369  Premier League               4      2        2       4
2370         Serie A               4      2        2       4
2371      Bundesliga               4      2        2       4

[2372 rows x 10 columns]

In [4]:
#el tipo de dato que posee cada columna
print(golesAndAssists.dtypes)

Year               int64
Name              object
Position          object
Age                int64
Club Name         object
League Name       object
Matches Played     int64
Goals              int64
Assists            int64
Points             int64
dtype: object

In [5]:
#consutlamos valores nulos individualmente en cada tabla
golesAndAssists.isnull()

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
2367,False,False,False,False,False,False,False,False,False,False
2368,False,False,False,False,False,False,False,False,False,False
2369,False,False,False,False,False,False,False,False,False,False
2370,False,False,False,False,False,False,False,False,False,False
2371,False,False,False,False,False,False,False,False,False,False

In [6]:
#verificamos cuantos valores nulos hay en la tabla
golesAndAssists.isnull().sum().sum()

0

In [7]:
# 1. Cantidad de equipos únicos
num_equipos = golesAndAssists['Club Name'].nunique()
print(num_equipos)

213

In [8]:
# 2. Cantidad de ligas únicas
num_ligas = golesAndAssists['League Name'].nunique()
print(num_ligas)

38

In [9]:
# 3. Nombres de las ligas
nombres_ligas = golesAndAssists['League Name'].unique()
print(nombres_ligas)

['Bundesliga' 'Ligue 1' '3. Liga' '2. Bundesliga' 'Regionalliga Südwest'
 'Serie A' 'Ligue 2' 'LaLiga' 'Championnat National' 'NOFV-Oberliga Nord'
 'LaLiga2' 'France' 'Serie C - A' 'Oberliga Niederrhein' 'Serie C - B'
 'National 3 - Grp. C' 'Serie B' 'National 2 - Grp. A'
 'National 2 - Grp. C' 'Oberliga Westfalen' 'Serie C - C' 'Spain'
 'Premier League' 'Primera Federación - Gr. I' 'Championship' 'League Two'
 'Segunda Federación - Gr. I' 'League One' 'Serie D - B' 'Liga Portugal'
 'Primera Federación - Gr. II' 'Regionalliga Nordost' 'Liga Sabseg'
 'Italy' 'Portugal' 'Liga 3' 'Serie D - E' 'Serie D - I']

In [10]:
# 4. Cantidad de ligas y nombres de las ligas
cantidad_y_nombres_ligas = golesAndAssists['League Name'].value_counts()
print(cantidad_y_nombres_ligas)

League Name
Bundesliga                     480
Serie A                        337
LaLiga                         332
Ligue 1                        317
Premier League                 289
2. Bundesliga                  142
Ligue 2                        103
Liga Portugal                   83
Championship                    66
Serie B                         41
LaLiga2                         39
Championnat National            36
3. Liga                         28
National 2 - Grp. A              9
Primera Federación - Gr. I       9
Liga Sabseg                      6
Oberliga Niederrhein             5
Regionalliga Südwest             5
League One                       4
Serie C - C                      4
Regionalliga Nordost             3
Serie D - E                      3
Oberliga Westfalen               3
National 3 - Grp. C              3
France                           3
National 2 - Grp. C              2
League Two                       2
Segunda Federación - Gr. I       2
Serie D - B                      2
Primera Federación - Gr. II      2
Italy                            2
Portugal                         2
NOFV-Oberliga Nord               2
Serie D - I                      2
Spain                            1
Serie C - B                      1
Serie C - A                      1
Liga 3                           1
Name: count, dtype: int64

In [11]:
# Suponiendo que tu DataFrame se llama 'df'
# Agrupar por 'Liga' y contar cuántos registros tiene cada 'club_name'
ligas_conteo = golesAndAssists.groupby('League Name')['Club Name'].count()

# Filtrar las ligas que tienen 28 o más registros
ligas_filtradas = ligas_conteo[ligas_conteo > 41].index

# Filtrar el DataFrame original para conservar solo las ligas relevantes
golesAndAssist_filtrado = golesAndAssists[golesAndAssists['League Name'].isin(ligas_filtradas)]

# Mostrar las ligas que se conservaron
print(f"Ligas que tienen 28 o más registros:\n{ligas_filtradas}")

# Mostrar el DataFrame filtrado
print(golesAndAssist_filtrado)

Ligas que tienen 28 o más registros:
Index(['2. Bundesliga', 'Bundesliga', 'Championship', 'LaLiga',
       'Liga Portugal', 'Ligue 1', 'Ligue 2', 'Premier League', 'Serie A'],
      dtype='object', name='League Name')
      Year                    Name            Position  Age        Club Name  \
0     1974             Gerd Müller      Centre-Forward   28    Bayern Munich
1     1974           Jupp Heynckes      Centre-Forward   29  Bor. M'gladbach
2     1974             Delio Onnis      Centre-Forward   26           Monaco
3     1974           Dieter Müller      Centre-Forward   20        1.FC Köln
5     1974          Allan Simonsen      Second Striker   21  Bor. M'gladbach
...    ...                     ...                 ...  ...              ...
2367  2023          James Maddison  Attacking Midfield   26        Tottenham
2368  2023            Moussa Diaby        Right Winger   24      Aston Villa
2369  2023  Jean-Ricner Bellegarde    Central Midfield   25           Wolves
2370  2023          Andrea Belotti      Centre-Forward   29          AS Roma
2371  2023         Tim Kleindienst      Centre-Forward   28       Heidenheim

         League Name  Matches Played  Goals  Assists  Points
0         Bundesliga              33     23       13      36
1         Bundesliga              31     27        4      31
2            Ligue 1              37     30        0      30
3         Bundesliga              34     24        4      28
5         Bundesliga              34     18        4      22
...              ...             ...    ...      ...     ...
2367  Premier League               5      2        2       4
2368  Premier League               5      2        2       4
2369  Premier League               4      2        2       4
2370         Serie A               4      2        2       4
2371      Bundesliga               4      2        2       4

[2149 rows x 10 columns]

In [12]:
#verificamos valores unicos de equipos
golesAndAssist_filtrado['League Name'].nunique()

9

In [13]:
#verificamos cantidad de clubes que quedaron
golesAndAssist_filtrado['Club Name'].nunique()

141

Luego de realizar el proceso de ETL, se analiza el dataset y se propone enriquecer la data con nuevas columnas.

In [16]:
#Agregar columna Promedio de goles 
golesAndAssist_filtrado['Goals_Per_Match'] = golesAndAssist_filtrado['Goals'] / golesAndAssist_filtrado['Matches Played']

C:\Users\valen\AppData\Local\Temp\ipykernel_13536\3639874512.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golesAndAssist_filtrado['Goals_Per_Match'] = golesAndAssist_filtrado['Goals'] / golesAndAssist_filtrado['Matches Played']

In [18]:
#Se confirma que tienen valores decimales altos, por lo cual se redondea a dos
golesAndAssist_filtrado['Goals_Per_Match'] = golesAndAssist_filtrado['Goals_Per_Match'].round(2)

C:\Users\valen\AppData\Local\Temp\ipykernel_13536\1384867516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  golesAndAssist_filtrado['Goals_Per_Match'] = golesAndAssist_filtrado['Goals_Per_Match'].round(2)

In [19]:
golesAndAssist_filtrado.head(10)

,Year,Name,Position,Age,Club Name,League Name,Matches Played,Goals,Assists,Points,Goals_Per_Match
0,1974,Gerd Müller,Centre-Forward,28,Bayern Munich,Bundesliga,33,23,13,36,0.70
1,1974,Jupp Heynckes,Centre-Forward,29,Bor. M'gladbach,Bundesliga,31,27,4,31,0.87
2,1974,Delio Onnis,Centre-Forward,26,Monaco,Ligue 1,37,30,0,30,0.81
3,1974,Dieter Müller,Centre-Forward,20,1.FC Köln,Bundesliga,34,24,4,28,0.71
5,1974,Allan Simonsen,Second Striker,21,Bor. M'gladbach,Bundesliga,34,18,4,22,0.53
6,1974,François M'Pelé,Centre-Forward,26,Paris SG,Ligue 1,37,21,0,21,0.57
7,1974,Roland Sandberg,Centre-Forward,27,1.FC K'lautern,2. Bundesliga,34,20,1,21,0.59
9,1974,Jürgen Grabowski,Right Winger,29,E. Frankfurt,Bundesliga,33,13,8,21,0.39
11,1974,Bernd Hölzenbein,Attacking Midfield,28,E. Frankfurt,Bundesliga,33,16,4,20,0.48
12,1974,Bernd Gersdorff,Attacking Midfield,27,E. Braunschweig,2. Bundesliga,34,15,5,20,0.44